{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr class = "box">
                <th>
                <p>Title</p>
                </th>
                <td> 
                <p>{{ game.title }}</p>
                </td>
            </tr>
            <tr class = "box">
                <th>Console</th>
                <td>{{ game.console }}</td>
            </tr>
            <tr class = "box">
                <th>ReleaseDate</th>
                <td>{{ game.releaseDate ? game.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr class = "box">
                <th>GameStyle</th>
                <td>{{ game.gameStyle }}</td>
            </tr>
            <tr class = "box">
                <th>Developor</th>
                <td>{{ game.developor }}</td>
            </tr>
            <tr class = "box">
                <th>Editor</th>
                <td>{{ game.editor }}</td>
            </tr>
            <tr class = "box">
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr class = "box">
            <div class="game-picture">
                <img src={{ game.imageOfTheBox }} alt="">
            </div>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_game_index') }}">back to list</a>

    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
